<!--<section>
  <div class="coming-soon">
    <div class="time-countdown">
      <ul>
        <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
        <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
        <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
        <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
      </ul>
    </div>
  </div>
</section>


<div id="timer">

<div>{{ time.days }} <span>Días</span></div>
<div>{{ time.hours }} <span>Horas</span></div>
<div>{{ time.minutes }} <span>Minutos</span></div>
<div>{{ time.seconds }} <span>Segundos</span></div>


</div>

-->

<section>
  <div class="coming-soon">
    <div class="time-countdown">
      <h1 class="titulo">Timeee form withouth</h1>
      <ul *ngFor="let entry of entries">
            
        <li class="count-bg-two radius"><span id="hours" *ngIf="getElapsedTime(entry) as elapsed" >{{elapsed.hours}} </span>Horas</li>
        <li class="count-bg-three radius"><span id="minutes"  *ngIf="getElapsedTime(entry) as elapsed" >{{elapsed.minutes}}</span>Minutos</li>
        <li class="count-bg-four radius"><span id="seconds"  *ngIf="getElapsedTime(entry) as elapsed">{{elapsed.seconds}}</span>Segundos</li>
      </ul>
    </div>
  </div>
</section>
